* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.card-container {
  width: 40rem;
  height: 70rem;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block-end: 1rem;
  padding-block-start: 3rem;
}

.header-container__user-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
}

.footer-container {
  padding-inline: 2rem;
}

.avatar__img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.img-container__post {
  width: 40rem;
  height: 40rem;
  aspect-ratio: 1/1;
}

.footer-container__icons-container {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;

}

.icons-container__icons-interation {
  display: flex;
  gap: 2rem;
}

.icons-container__like-icon {
  fill: red;

}

.more-comments-container__view-more-botton {
  all: unset;
  font-size: 1.5rem;
}

.like-avatar-count__likes-users {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;

}

.like-avatar-count__last-like-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.text-bold {
  font-weight: bold;
}

.comments-container__users-more-container {
  display: flex;
  align-items: end;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.users-more-container__view-more-botton-comments {
  display: flex;
  justify-content: stretch;
  all: unset;
  font-size: 1.5rem;
  color: dimgray;
}

.comments-container__more-comments-container {
  padding-top: 1rem;
  color: dimgray;
}